@model QuicklyRecycle.Models.Manager

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-3">
    <div class="card border border-dark">
        <div class="card-header bg-dark text-white text-center">Deseja excluir essa Empresa</div>
        <div class="card-body">


            <div class="row">
                <div class="col-sm-6">
                    <label>Nome</label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>

                <div class="col-sm-2">
                    <label>CEP</label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Telefone)
                    </div>
                </div>

                <div class="col-sm-4">
                    <label>UF</label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Company.Name)
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Excluir" class="btn btn-sm btn-outline-danger" />
                        <a class="btn btn-sm btn-outline-primary" asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>