@model QuicklyRecycle.Models.Manager

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-3">
    <form asp-action="Edit">
        <div class="card border border-dark">
            <div class="card-header bg-dark text-white text-center">Nova Empresa</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-7">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CompanyId" class="control-label"></label>
                            <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                            <a class="btn btn-sm btn-outline-primary" asp-action="Index">Volatr</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
