@model QuicklyRecycle.Models.Collector

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-3">
    <form asp-action="Edit">
        <div class="card border border-dark">
            <div class="card-header bg-dark text-white text-center">Novo Coletador</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-7">
                        <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Landline" class="control-label"></label>
                            <input asp-for="Landline" class="form-control" />
                            <span asp-validation-for="Landline" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CellPhone" class="control-label"></label>
                            <input asp-for="CellPhone" class="form-control" />
                            <span asp-validation-for="CellPhone" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Cadastrar" class="btn btn-sm btn-outline-success" />
                            <a class="btn btn-sm btn-outline-primary" asp-action="Index">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
