@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <section class="container py-lg-5 mx-auto">
        <form id="account" method="post">
            <div class="row justify-content-center container" style="margin-top:15px;">
                <div class="mx-auto" style="width: 350px;">
                    <div class="card shadow-lg p-3 border-primary" style="width: 25rem;">
                        <div class="card-header bg-dark text-white text-center"><h3>Login</h3></div>
                        <div class="card-body text-center">
                            <div class="form-row">
                                <div class="col-sm">
                                    <div asp-validation-summary="All" class="text-danger alert-danger"></div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <label asp-for="Input.Email" class="sr-only"></label>
                                            <input asp-for="Input.Email" class="form-control form-control-sm" placeholder="E-Mail" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <label asp-for="Input.Password" class="sr-only"></label>
                                            <input asp-for="Input.Password" class="form-control form-control-sm" placeholder="Senha" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe" style="font-size:12px;">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                            <a class="col text-sm-right" id="forgot-password" asp-page="./ForgotPassword" style="font-size:10px;">Esqueci minha Senha</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-outline-primary btn-block">Acessar</button>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <label class="col-form-label-sm">Ainda não tenho acesso</label>
                            <a class="btn btn-outline-success btn-sm" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
