@page
@model RegisterModel
@{
    ViewData["Title"] = "Nova Conta";
}

<div class="container">
    <section class="container py-lg-5 mx-auto">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row justify-content-center container" style="margin-top:15px;">
                <div class="mx-auto" style="width: 350px;">
                    <div class="card shadow-lg p-3 border-success" style="width: 25rem;">
                        <div class="card-header bg-dark text-white text-center"><h3>Cadastrar</h3></div>
                        <div class="card-body text-center">
                            <div class="form-row">
                                <div class="col-sm">
                                    <div asp-validation-summary="All" class="text-danger alert-danger"></div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input asp-for="Input.Email" class="form-control form-control-sm" placeholder="E-Mail" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input asp-for="Input.Password" class="form-control form-control-sm" placeholder="Senha" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" placeholder="Confirmar Senha" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-outline-success btn-block">Nova Conta</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <label class="col-form-label-sm">Tenho uma conta</label>
                            <a class="btn btn-sm btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
